<nav class="navbar navbar-default navbar-fixed-top">
    <div class="text-center">
        <div class="nav-tools pull-right">
        </div>
        <div class="nav-tools pull-left">
        </div>
        <div class="nav-tools">
            <h3>About us</h3>
        </div>
    </div>
</nav>
<div id="page-content" class="container-fluid theme-showcase">
    <div class="row-fluid">
        <div class="col-md-12">
          <br />
            <p>Batdog is a small software development company based in Sydney, Australia focusing on web and app development. We are a nimble team of four with a fun and creative culture.</p>

            <h3>What is Rooster?</h3>
            <p>Rooster is the easiest way to create, manage and share staff schedules online with your employees. It has been designed to be as simple, straightforward and user-friendly as possible.</p>
            <p>The schedules are stored within the cloud and can be accessed by your staff at any time, day or night, from anywhere with an internet connection. Changes you make to your schedules are re-published with updates sent to your staff as push notifications through the Rooster app for iPhone and Android. Your staff can access Rooster through the Rooster app, where they can check their up-coming shifts, request open shifts, notify you of their need to change a shift or even apply for time off/update their unavailability.</p>

            <h3>Rooster on a mission!</h3>
            <p>We see ourselves as innovative and customer-focused and are working towards becoming the leader in scheduling and people management.</p>

            <h3>Reasons you'll love Rooster</h3>
            <p>There are plenty of reasons you'll love Rooster, your pocket scheduler!</p>
            <ul>
                <li>Provides a user-friendly Scheduling application.  Conveniently create, update and publish Schedules anytime and anywhere</li>
                <li>Guarantees a stress free, quick and easy schedule</li>
                <li>Allows your staff to swap shifts and cover shifts that become available- all in real time</li>
                <li>Allows your staff to sync their schedules to their Calendars [and Facebook]</li>
                <li>Offers a fully integrated solution to scheduling and resourcing casual employees. Tap into our member database and find the right person to fill those shifts!</li>
            </ul>
        </div>
    </div>
</div>