<nav class="navbar navbar-default navbar-fixed-top">
    <div class="text-center">
        <div class="nav-tools pull-right">
        </div>
        <div class="nav-tools pull-left">
        </div>
        <div class="nav-tools">
            <h3>Contact us</h3>
        </div>
    </div>
</nav>
<div id="page-content" class="container-fluid theme-showcase">
    <div class="row-fluid">
        <div class="col-md-12">
            <br />
           

            <p>
                by phone, during 9am to 5pm (Eastern Standard Time) on [insert landline];<br />
                by email, at <a href="mailto:enquiries@rooster.com.au">enquiries@rooster.com.au</a>; or<br />
                by mail, at the following address:
            </p>

            <address>
                Rooster<br />
                PO Box [x]<br />
                Royal Exchange NSW [xxxx]<br />
            </address>

        </div>
    </div>
</div>