<nav class="navbar navbar-default navbar-fixed-top">
    <div class="text-center">
        <div class="nav-tools pull-right">
        </div>
        <div class="nav-tools pull-left">
        </div>
        <div class="nav-tools">
            <h3>FAQ's</h3>
        </div>
    </div>
</nav>
<div id="page-content" class="container-fluid theme-showcase">
    <div class="row-fluid">
        <div class="col-md-12">
            <br />

            <p>This section aims to answer the most frequently asked questions about Rooster. If you don’t find what you are looking for here, please email us at [TODO:insert enquires email address].</p>

            <ol>
                <li>
                    <strong>How does the 30-Day free trial work?</strong>
                    <p>Simply provide your full name and valid email address to start your 30-Day free trial. No credit card required! An upgrade from the free plan or trial to any paying plan will end your free trial. You will be billed for your first month immediately upon upgrading.</p>
                </li>
                <li>
                    <strong>Are there long term contracts?</strong>
                    <p>Yes, please contact us to discuss long term contracts for your business.</p>
                </li>
                <li>
                    <strong>Can I change plans at any time?</strong>
                    <p>Yes, you can upgrade or downgrade your plan level at anytime!</p>
                    <p>For any upgrade or downgrade in plan level, the credit card that you provided will be charged a prorated amount and then automatically be charged the new rate on your next billing cycle. Please note that downgrading your plan level may cause the loss of Content, features, or capacity of your Account.</p>
                    <p>Rooster bills in advance on a monthly basis and is non-refundable. There will be no refunds or credits for partial months of service, upgrade/downgrade refunds, credit balances, or refunds for months unused with an open account.</p>
                </li>
                <li>
                    <strong>What are the payment options?</strong>
                    <p>We accept Visa and MasterCard. For your convenience we also accept PayPal. Unfortunately, we do not accept money orders, cheques or cash payments.</p>
                </li>
                <li>
                    <strong>What web browsers work best?</strong>
                    <p>We support all modern browsers including IE11, Chrome, Safari and Firefox</p>
                </li>
                <li>
                    <strong>Terms of Service and Privacy Policy?</strong>
                    <p>Here are our Terms of Service and our Privacy Policy  {TODO: insert hyperlinks to section below}</p>
                </li>
                <li>
                    <strong>Why aren't I receiving answers to my emails?</strong>
                    <p>We endeavour to respond to all emails within two hours during 7am and 7pm. If you have not received a response from us after 24 hours, please check the points below before following us up:</p>
                    <p>Your message may not have been received by Rooster</p>
                    <p>If you’ve received an email with "Returned mail" or "Failure notice" in the subject line, then your email has not been received by us. Please check the email address in your sent or drafts folder as you may have mistyped the email address.  Our email address can be found on the Contact Us page. [TODO:link to Contact Us page]</p>
                    <p>You may not be able to receive emails sent by Rooster</p>
                    <p>Our emails may be filtered out by your anti-spam software if you haven't added Rooster into your address book. To ensure you receive emails from us, please add our email addresses to your address book or contact list.</p>
                </li>
                <li>
                    <strong>How safe is my data stored on Rooster?</strong>
                    TODO: Paul to update
                    <p>Rooster's servers reside in a secure, world class data centre, firewalled and protected by a number of physical security layers.</p>
                    <p>For disaster recovery scenarios (power outages, network failures etc), customer data is routinely backed up, encrypted and replicated to a collection of highly secure off-site locations.</p>
                    <p>When data is stored in Rooster, all personally identifiable information is encrypted. In addition, all passwords are salted and hashed for maximum security. For more information about privacy, please refer to our privacy policy.</p>
                </li>
                <li>
                    <strong>Does Rooster use SSL/HTTPS?</strong>
                    <p>Yes, SSL is used on every page of Rooster for maximum privacy and security.</p>
                </li>
                <li>
                    <strong>Is Rooster registered with the ICO?</strong>
                    <p>Yes, Rooster is registered with the ICO as a Data Controller, and is fully compliant with the Privacy Act (1988).</p>
                    <p>For more information, please visit the ICO website, or, you can view our registration details by searching the ICO for our registration number [insert number once we get one].</p>
                </li>
            </ol>
        </div>
    </div>
</div>