@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
    <p>
        This site is currently in development and used for testing purposes only.
        To request further information please use the Contact link.
    </p><p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Rooster is a new innovative cloud based rostering and timesheet management application. Blah blah blah blah blah Blah blah blah blah blah
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why use Rooster?</h2>
        <p>Blah blah  blah blah blah Blah blah  blah blah blah Blah blah  blah blah blah Blah blah  blah blah blah Blah blah  blah blah blah Blah blah  blah blah blah </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cloud Hosting</h2>
        <p>Blah blah  blah blah blah Blah blah  blah blah blah Blah blah  blah blah blah Blah blah  blah blah blah Blah blah  blah blah blah Blah blah  blah blah blah </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>