<nav class="navbar navbar-default navbar-fixed-top">
    <div class="text-center">
        <div class="nav-tools pull-right">
        </div>
        <div class="nav-tools pull-left">
        </div>
        <div class="nav-tools">
            <h3>Privacy policy</h3>
        </div>
    </div>
</nav>
<div id="page-content" class="container-fluid theme-showcase">
    <div class="row-fluid">
        <div class="col-md-12">
            <br />
          
            <p>Batdog Software Pty Ltd, ACN 165 479 158 (Batdog) the operator of [www.rooster.com.au], and our related entities recognise the importance of privacy protection and comply with the National Privacy Principles set out in the Privacy Act 1988 (Cth) (“Act”).</p>

            <p>Some of the information you provide us as part of your dealings with us is "personal information" under the Act. This Privacy Policy sets out how we collect, use and disclose your personal information and applies to you unless you give us explicit consent to act otherwise.</p>

            <h3>What types of personal information do we collect?</h3>
            <p>The personal information we collect from you generally includes your (and your employees’) name, address, email, telephone number/s and other information required for producing and communicating Schedules through Rooster (“Website”).</p>

            <h3>How do we collect your personal information?</h3>
            <p>We collect your personal information through a range of sources, namely through registration form you fill in once you join [rooster.com.au]. We also collect information you provide over the telephone to a Rooster representative and via surveys and questionnaires you complete.</p>

            <h3>What happens if you don't provide us with the information we require?</h3>
            <p>If you don’t provide us with certain information, we may be unable to provide you with the optimal level of service you wish to receive.</p>

            <h3>How do we use your personal information?</h3>
            <p>
                We will use your personal information for the purpose disclosed at the time of collection, or otherwise as set out in this Privacy Policy. We will not use your personal information for any other purpose without your prior consent, unless authorised or required by law. Generally, we will only use and disclose your personal information for the following purposes:
                <ol>
                    <li>To provide you with information you request about us, the products or services we offer through [rooster.com.au] or special offers provided by third parties to our members through [rooster.com.au];</li>
                    <li>To provide products or services you request from time to time;</li>
                    <li>To process and obtain payment for services; and</li>
                    <li>To contact you for direct marketing and promotional purposes including providing you with information about new products or services, events and special offers, unless you tell us that you not wish to receive this type of information.</li>
                </ol>
            </p>

            <p>From time to time we may also ask you to participate in surveys or questionnaires. These help us to improve our level of service and to maximize the opportunities and benefits you can enjoy.</p>

            <p>We may also send you electronic messages updating you about products, services, offers and special offers. We will only send you electronic messages if you have consented to receive them or it can be inferred from your existing business or other relationship with [rooster.com.au], that there is a reasonable expectation of receiving those electronic messages. All electronic messages will identify [rooster.com.au].</p>

            <h3>Will we give your personal information to anyone else?</h3>
            <p>
                We will only disclose your personal information to contractors or other third parties:
                <ul>
                    <li>To provide you with marketing and other information about [rooster.com.au] and its own or related products and services;</li>
                    <li>If you authorise us to do so; or</li>
                    <li>If required or permitted by law.</li>
                </ul>
            </p>

            <h3>Personal information security</h3>
            <p>We will take reasonable steps to ensure your personal information is protected from risks such as loss, unauthorised access or use, destruction, modification or disclosure. We only permit our authorised personnel to access your personal information.</p>
            <p>The Internet is not a secure method of transmitting information. Accordingly, we cannot accept responsibility for the security of information you send to or receive from us over the Internet or for any unauthorised access, use or modification of that information.</p>
            <p>The Website may provide links or references to other third party websites and resources. These websites and resources are not subject to this Privacy Policy. You should review the privacy policy of each third party website, and assess whether the policy of each website and resource is satisfactory to you before you use the website or resource.</p>

            <h3>Your rights of access and correction</h3>
            <p>You have the right to access personal information which we have collected from you within the requirements of the Act.</p>
            <p>If you wish to access your personal information, or believe that any of the personal information we hold about you is inaccurate, incomplete or out-of-date, please contact us on the number shown at the bottom of this Privacy Policy. We will take reasonable steps to correct any inaccurate, incomplete or out-of-date personal information if you request us to do so, where required by law.</p>
            <p>We may withhold or refuse you access to your personal information if we are legally authorised to do so or where its disclosure to you is restricted by law, is the subject of legal action, or may compromise the privacy of another person.</p>

            <h3>How can you stop receiving marketing information?</h3>
            <p>Where marketing information is forwarded to you via electronic messages, there will be a functional ‘unsubscribe’ option at the bottom of the email.</p>
            <p>If you no longer wish to be contacted by us or receive marketing information, you can advise us by emailing us at [enquiries@rooster.com.au]; or by selecting the ‘unsubscribe ‘option (where marketing information is sent electronically).</p>
            <p>We will keep a record of your request to ensure you do not receive that information in the future, however you cannot refuse to receive information which we are required to provide you by law.</p>

            <h3>Cookies</h3>
            <p>"Cookies" are small data files sent by a website and stored on your computer's hard drive when you visit the website. A cookie can contain certain information that the website uses to track the pages you have visited. The only personal information a cookie can contain is information you personally supply. A cookie cannot read data off your hard disk or read cookie files created by other websites. [rooster.com.au] uses cookies to identify you on return visits. Most internet browsers automatically accept cookies, but you can usually change your browser to notify you when you receive a cookie or to reject cookies. Most of the content on [rooster.com.au] can be viewed without accepting cookies.</p>

            <h3>Changes to this Privacy Policy</h3>
            <p>We may amend this Privacy Policy from time to time by posting the amended version on our website at [rooster.com.au]. We suggest that you visit our website regularly to keep up to date with any changes.</p>

            <h3>Contacting us</h3>
            <p>If you would like more information about this Privacy Policy or if you have any queries or complaints, please <a href="~/Home/Contact">contact us</a>.</p>


        </div>
    </div>
</div>