
<div id="page-content" class="container-fluid theme-showcase">
    <div class="row-fluid">
        @*<div class="col-md-12">*@
            <br />

            <p>The following Terms & Conditions (Terms), together with our Privacy Policy are the complete terms of a legal agreement between you and Batdog Software Pty Ltd ACN 165 479 158 (Batdog) in relation to your access to and use of [roostershift.com] (Website) and the supply of services via the website. By accessing, browsing, or using this website, you acknowledge that you have read, understood, and agree to be bound by these Terms. If you do not agree to these Terms, do not use this website.</p>

            <p>
                Rooster at [http://prod.roostershift.com] is operated by Batdog. Batdog may alter these Terms from time to time by posting the altered version on this website. You should visit the website regularly to keep up to date with any alterations. By continuing to use this website, you accept the Terms current at the time you access and use it.
                If you have any questions or need clarification on any issue please contact us at [ support@roostershift.com ]
            </p>

            <h3>Account terms</h3>

            <p>Accounts can only be registered by natural persons, for individuals or on behalf of companies. Accounts registered by “bots” or other automated methods are not permitted. Your full legal name, a valid email address, and any other information requested needs to be provided in order to complete the signup process.</p>

            <h3>Password security</h3>

            <p>You have responsibility for keeping your passwords safe. Do not disclose your password to third parties. Your login may only be used by one person — a single login shared by multiple people is not permitted. You may create separate logins for as many people as you’d like.</p>

            <h3>Content</h3>

            <p>
                You are responsible for all Content posted and activity that occurs under your account (even when Content is posted by others who have accounts under your account). One person or legal entity may not maintain more than one free account.
                You may not use the Service for any illegal or unauthorised purpose.
            </p>

            <h3>Intellectual property</h3>

            <p>All material and content on the website and application, including but not limited to text, graphics, logos, button icons, images, the website layout and Scheduling software, is subject to copyright owned by Batdog, its related entities or its content suppliers and is protected by the Copyright Act 1968 (Cth) and other international copyright laws. Images and logos displayed on the website may be the subject of registered trademarks of Batdog, its related entities or its product suppliers and protected by the Trade Marks Act 1995 (Cth) and other international trade mark laws. This permission is subject to you not modifying the content displayed on this site, keeping intact all copyright, trade mark, and other proprietary notices, and any additional restrictions or express exceptions displayed on the website. Any other use of material on the website, including but not limited to the reproduction, modification, distribution, transmission, re-publication or display of the content on this site is strictly prohibited.</p>

            <h3>Information on the website</h3>

            <p>Information on this website may change from time to time. No guarantee can be given in relation to the accuracy, or completeness of the information contained within the website. This website may contain inaccuracies or typographical errors. Batdog assumes no responsibility (and expressly disclaims responsibility) for updating this site to keep information current or to ensure the accuracy or completeness of any posted information.</p>

            <h3>Third party material</h3>

            <p>The website may provide links or references to third party websites (Linked Sites) or display material sourced from a third party (Third Party Material). Batdog is not responsible for and does not endorse the content of Linked Sites or Third Party Material, any use (or misuse) of information you may supply to or obtain from a Linked Site or any Third Party Material, or for any goods or services offered via Linked Sites. Batdog does not warrant or represent the accuracy, utility or any other characteristic of Third Party Material or information or content appearing on Linked Sites. Batdog is not a party to or responsible for any transactions you may enter into with third parties, even if you become aware of such parties from this website.</p>

            <h3>Viruses</h3>

            <p>
                You are responsible to protect your computer from malicious or destructive content and programs such as viruses, worms and Trojans, and to protect your information as you deem appropriate.
                You agree to comply with all applicable domestic and international laws (including common law) applicable to your use of the website. You agree, without limitation not to use any device, software or routine to interfere or attempt to interfere with the proper working of the website, including, but not limited to, by uploading or transmitting through the website any viruses, worms, trojans or other potentially destructive programs designed to interfere with, interrupt or disrupt the normal operating procedures of the website or any computer. You must not post on the website any material that is abusive, defamatory and obscene, contrary to law or to the rights of any party. Batdog may block/delete from the website any material posted to the website that Batdog decides contravenes that requirement. You must not impersonate or misappropriate the identity of another person. You must not attempt to use the website or any of its content to solicit others to participate in any organisation or commercial online service. If you are in violation of these Terms, you will be banned from the website, being liable to Batdog for breach of contract and/or infringing applicable law.
            </p>

            <h3>Disclaimer of warranty</h3>

            <p>Use of this website is at your sole risk. To the extent legally permitted, all materials, information, products, programs and services are provided “as is”, with no warranties or guarantees whatsoever. Batdog expressly disclaims to the fullest extent permitted by law all express, implied, statutory and other warranties, guarantees or representations, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement of proprietary and intellectual property rights. Without limitation, Batdog does not represent or warrant that the functions within the website will be uninterrupted, error-free or secure, that any defects will be corrected, or that the website or the server that makes the website available is free of viruses or other harmful elements. You agree that in using the website you have not relied on any statement or representation made by Batdog not expressly contained in these Terms. You understand and agree that if you download or otherwise obtain materials, information, products or services, you do so at your own discretion and risk and that you will be solely responsible for any damages that may result, including loss of data or damage to your computer system. If applicable law prohibits the exclusion of any of the warranties referred to above, to the extent legally permitted, Batdog limits its liability for breach of any such warranties, conditions or representations to resupply of the affected products or services or payment of the cost of resupply of the affected products or services, at Batdog’s discretion.</p>

            <h3>Limitation of liability</h3>

            <p>To the extent legally permitted, in no event will Batdog be liable to any party for any direct, indirect, incidental, special, exemplary or consequential damages of any type whatsoever related to or arising from this website, its software or any use of this website, or of any site or resource linked to, referenced or accessed through this website, or for the use or downloading, or access to, any materials, information, products or services, including, without limitation, any lost profits, business interruption, lost savings or loss of programs or other data, even if Batdog is expressly advised of the possibility of such damages. This exclusion and waiver of liability applies to all causes of action, whether based on contract, warranty, tort (including negligence) or any other legal theories. To the extent that the above exclusion of liability is unenforceable, invalid or ineffective for any reason, it will be severed from these Terms and Batdog’s maximum aggregate liability for all losses, damages and other amounts referred to in the above exclusion of liability under any cause of action referred to in the above exclusion of liability is limited to AUD$50.00.</p>

            <h3>Indemnity</h3>

            <p>You agree to indemnify, defend, and hold harmless Batdog, its officers, directors, employees, agents, contractors, licensors and suppliers from and against all losses, expenses, claims, proceedings, damages and costs (including actual, special, direct, indirect, incidental, exemplary or consequential) of every kind and nature made by any other party due to or arising out of any violation of these Terms, any terms and policies it incorporates by reference, the rights of another party, any applicable law, statute, ordinance or regulation or due to or arising out of any activity related to your account (including negligent or wrongful conduct) by you or any other person accessing the website using your Internet account.</p>

            <h3>Privacy</h3>

            <p>Your privacy is important to Batdog. Batdog deploys encryption and other technology with the aim of protecting credit card information and the customer database. Access to this database within Batdog is restricted. Batdog does not sell, trade or rent personal information. By providing your details to Batdog via the website, you consent to Batdog maintaining, recording, holding and using that information to provide our services. Further information about the collection and use of your personal information is contained in our Privacy Policy. [link to Privacy Policy]</p>

            <h4>Applicable law</h4>

            <p>These Terms are governed by the law of New South Wales, Australia. The parties submit to the non-exclusive jurisdiction of the courts of New South Wales and its appellate courts.</p>
        </div>
    @*</div>*@
</div>