<a style="cursor: pointer" data-toggle="popover" class="popoverLink" data-original-title="Internal locations" data-content="This allows you to set up multiple internal schedules. For example you can schedule the kitchen and bar separately.">
    <i class="glyphicon glyphicon-question-sign"></i>
</a>