<a style="cursor: pointer" data-toggle="popover" class="popoverLink" data-original-title="Business locations" data-content="This allows you to set up multiple business locations. For example you may manage multiple stores.">
    <i class="glyphicon glyphicon-question-sign"></i>
</a>