<a style="cursor: pointer" data-toggle="popover" class="popoverLink" data-original-title="Roles" data-content="This allows you to associate one or more roles to each employee.">
    <i class="glyphicon glyphicon-question-sign"></i>
</a>