<a style="cursor: pointer" data-toggle="popover" class="popoverLink" data-original-title="Shift blocks" data-content="Shift blocks are a handy way to save time. Creating Shift Blocks allows you to have your most common shifts on hand, as you create your schedule. When creating a shift, simply tick the “Save Shift Block?” box. Easy!">
    <i class="glyphicon glyphicon-question-sign"></i>
</a>