
@if (Request.IsAuthenticated) {
    <text>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        { 
            @Html.AntiForgeryToken()
             <ul class="nav navbar-nav navbar-right">
        <li>
      @*@Html.ActionLink("Hello " + (User as WebUI.Common.CustomPrincipal).FirstName + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            @Html.Label("Hello " + (User as WebUI.Common.CustomPrincipal).FirstName + "!", htmlAttributes: new { @class = "navbar-text" } )


</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
            
      
        }
    </text>
} 
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

