
<div class="form-group">
    @for (int i = 0; i < Model.InternalLocations.Count(); i++)
    {
        @Html.la(Model.InternalLocations[i].Name);

        <div class="col-md-10">
            @Html.TextBox(Model.InternalLocations[i].Name)
            @*@Html.ValidationMessageFor(Model.InternalLocations[i].Name)*@
        </div>
    }
    <a href="javascript:;" id="addInternalLocation">Add Location</a> 
</div>
<a href="javascript:;" id="addappointment">Add Appointment</a>
<script type="text/javascript">
    var appIndex = @Model.BusinessLocation.InternalLocations.Count
          $("#addInternalLocation").click(function () {
              $.post(
                  "/Business/AddInternalLocation",
                  { "index": appIndex },
                  function (result) {
                      $("#internalLocations").append(result);
                      // increase index by 1
                      appIndex++;
                  }
              );
          });
</script>