

<link href="~/Content/select2-bootstrap.css" rel="stylesheet" />
<link href="~/Content/select2.css" rel="stylesheet" />
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="text-center">
        <div class="nav-tools pull-right">
        </div>
        <div class="nav-tools pull-left">
        </div>
        <div class="nav-tools">
            <h3>Broadcast Confirmation</h3>
        </div>
    </div>
</nav>

<div id="page-content" class="container-fluid theme-showcase">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="form-body">
                <div class="tab-pane" id="tab6">
                    <h3 class="profile-tabmsg-sucess">The shift(s) has been successfully broadcast!</h3>
                </div>
            </div>
        </div>
    </div>
</div>
