<nav class="navbar-default ">
    <div class="panel panel-primary">
        <div class="nav-tools ">
        </div>
        <div class="nav-tools ">
        </div>
        <div class="nav-tools">
            <h3>External shift Request Confirmation</h3>
        </div>
    </div>
</nav>
<div id="page-content" class="container-fluid theme-showcase">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="form-body">
                <div class="tab-pane" id="tab6">
                    <h3 class="profile-tabmsg-sucess">Your request for this  External shift has been successfully Sent!.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
