@{
    ViewBag.Title = "Confirmation Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Sorry, but we have not been able to successfully activate your account. Please contact support.</h2>
</hgroup>
