@{
    ViewBag.Title = "Register Step Two";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<br />
<h2>Thankyou for registering</h2>
<h4>An email has been set to the address you specified. Please click on the link provided in the email to validate your account.</h4>

